@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  #newmenu li {
      padding: 5px 10%;
      border-bottom: 1px solid rgb(63, 61, 61);
      transition: 0.2s;
  }
  #newmenu li:first-child {
      border-top: 1px solid rgb(78, 78, 78);
      margin-top: 20px;
      align-content: flex-start;
  }
  #newmenu li a {
      letter-spacing: 0.1em;
  }
  #newmenu {
      width: 100%;
      margin-top: 43px;
      margin-bottom: 0ch;
      padding-bottom: 0px;
      position: fixed;
      z-index: 1;
      background: #222;
  }
  #newmenu li:hover {
      background-color: gray;
      border-right: 5px solid blueviolet;
      border-left: 5px solid blueviolet;
  } */
  /* DECLARING OUR CSS VARIABLES */
:root{
    --bg:white;
    --text:#222;
    --brand:blueviolet;
}

  /* ADDING A DARK CLASS FOR OUR DARK MODE TO WORK */
  .dark{
    --bg:#222;
    --text:white;
    
  }

  body{
    background: var(--bg);
    color: var(--text);
    transition: 300ms ease-out;
  }
  header{
    background: var(--bg);
    color: var(--text);
  }
  /* .wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .lightmode{
    border-radius: 9999px;
    border: 4px solid;
    font-size: 30px;
    padding: 3px;
    z-index: 10;
    margin: 20px;
    text-transform: capitalize;
    display: flex;
  }
.container__label{
    border-radius: 9999px;
    cursor: pointer;
    padding: 10px 12px;
}
.container__label--selected{
    color: var(--text);
    background: var(--brand);
}
